<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <util:properties id="jdbcProps">
        <prop key="tasks.jdbc.driver">org.sqlite.JDBC</prop>
        <prop key="tasks.jdbc.url">jdbc:sqlite:/D:/FACULTATE/Anul II/MPP/Laborator/database.db</prop>
    </util:properties>


    <bean id="repoClientRepository" class="repository.ClientRepository">
        <constructor-arg ref="jdbcProps"/>
    </bean>

    <bean id="repoZborRepository" class="repository.ZborRepository">
        <constructor-arg ref="jdbcProps"/>
    </bean>

    <bean id="repoAngajatRepository" class="repository.AngajatRepository">
        <constructor-arg ref="jdbcProps"/>
    </bean>

    <bean id="repoBiletRepository" class="repository.BiletRepository">
        <constructor-arg ref="jdbcProps"/>
    </bean>

    <bean id="clientService" class="service.ClientService">
        <constructor-arg ref="repoClientRepository"/>
    </bean>

</beans>